body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: linear-gradient(#000046, #1cb5e0);
  color: white;
}

h1 {
  text-align: center;
  color: darkslategrey;
}

.container {
  display:flex;
  width: 70%;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  padding: 30px;
  border-radius: 30px;
}

.search {

  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  outline: none;
  width: 98%;
  border-start-start-radius: 20px;
  border-bottom-left-radius: 20px ;
}

.li-container {
  background-color: white;
  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 15px;
  display: flex;
}

li p {
  margin: 0;
  padding: 15px;
  width: 100%;
}

.boton_delete {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  outline: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 11%;
  font-size: 13px;
  font-weight: bolder;
}

.boton_delete:hover {
  cursor: pointer;
  background-color: rgb(49, 90, 134);
}

.boton_add {
  padding: 5px 15px;
  border: none;
  color: white;
  font-family: fantasy;
  background-color: rgb(49, 90, 134);
  font-size: 20px;
  outline: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.boton_add:hover {
  cursor: pointer;
  background-color: rgb(29, 54, 81);
}

.vacio {
  color: darkslategrey;
}

.boton_borraAll{
  margin:20px;
  margin-left: 0px;
  padding:15px;
  background-color: rgb(49, 90, 134);
  color:white;
  font-size: 15px;
  border-radius: 20px;
}

.ultimo_container{
  display: flex;
  justify-items: center;
}
